body{
  font-family: Arial, sans-serif;
  line-height: 1:6;
  background-color: #f5f5f5;
  color: #333;
  padding: 20px;
}

header{
  background-color: #4CAF50;
  color:white;
  padding: 20px
  text-aling: center;
}

nav{
  bavkground-color: #333;
  margin-top: 10px;
}

nav-ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav uli li{
  margin: 0;
}

nav ul li a{
  display: block;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}

nav ul li a:hover{

  
  
  
